/*
Custom Css
*/
.text-justify {
    text-align: justify;
    color: #000000;
  }
  
  .logo-img {
    max-width: 100px; /* Ajusta el tamaño máximo según tus necesidades */
    height: auto;
  }
  .custom-bg-white {
    background-color: white;
  }
  
  .customnavbar {
    border-bottom: 1px solid #ccc !important; /* Esto fuerza la aplicación de la regla */
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:40px !important;
  z-index:100;
}

.whatsapp-icon {
  margin-top:10px;
}
